<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bootstrap Theme The Band</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/images/go out.jpeg" alt="New York">
            <div class="carousel-caption">
              <h3>我们出行</h3>
              <p>总想出去看看</p>
            </div>
          </div>

          <div class="item">
            <img src="/images/record.jpeg" alt="Chicago">
            <div class="carousel-caption">
              <h3>我们记录</h3>
              <p>记下那个难忘的傍晚</p>
            </div>
          </div>

          <div class="item">
            <img src="/images/communicate.jpeg" alt="Los Angeles">
            <div class="carousel-caption">
              <h3>我们相遇</h3>
              <p> 我们在心灵之路相遇,虽远隔天涯却近在咫尺</p>
            </div>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

        <!-- About Us -->
        <div class="container text-center">
            <h3>About Us</h3>
            <p>
                <em>我们行走感悟!</em>
            </p>
            <p>为了让相似的灵魂聚在一起聚在一起,我们创建了这个网站</p>
            <p>在这里我们可以一起出行</p>
            <p>我们可以相互分享</p>
            <p>也许你还能找到那个也一直在寻找你的人</p>
            <br>

            <div class="row">
                <div class="col-sm-4">
                    <p>
                        骑自行车出去逛逛吧
                    </p><br>
                    <a href="#demo1" data-toggle="collapse">
                        <img src="images/just ride out.jpeg" class="img-circle person" alt="riding travel" width="255" height="255">
                    </a>
                    <div id="demo1" class="collapse">
                        <p>在海边</p>
                        <p>One afternoon in 1988</p>
                    </div>
                </div>
                <div class="col-sm-4">
                        <p>
                            和他(她)出去走走吧
                        </p><br>
                        <a href="#demo2" data-toggle="collapse">
                        <img src="images/just walk out.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
                    </a>
                    <div id="demo2" class="collapse">
                        <p>和他(她)在一起</p>
                        <p>May 4 2012</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <p>
                        倾听大自然和自己的内心吧
                    </p><br>
                    <a href="#demo3" data-toggle="collapse">
                        <img src="images/pexels-photo.jpeg" class="img-circle person" alt="Random Name" width="255" height="255">
                    </a>
                    <div id="demo3" class="collapse">
                        <p> 在那种寂静中我更加认清了自己</p>
                        <p>Oct 1 2015</p>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
