.fix_nav{
    top: 0;
    border-width: 0 0 1px;
    border-radius: 0;
    position: fixed; //没有这条， 不设置 background的时候又会变成白色。
    right: 0;
    left: 0;
    z-index: 100;
    min-height: 50px;
    background-color: transparent;
}

.navbar-header{
  width:33.3333333%;
  border: 1px solid black
}

.container-nav{
  display: inline-block;
}


.nav-part{
  float: left;
  height: 50px;
}


.nav-list{
  float: right !important;
  margin-right: -15px;
  margin: 0;
  list-style: none;
  content: " ";
  display: table;
  max-height: 50px;
  display: block;
}

/*search*/
.form-child{
  height: 34px;
}

.search-submit-btn{
  position: absolute;
  background-color: transparent;
}

.only-for-search-input{
  width: 100%;
  background-color: transparent;
  filter: alpha(opacity=0);
  appearance:none;
  transition: width 10s;
}

.search-form-control{
  height: 34px;

  padding: 6px 12px;
  position: relative;
  display: table-cell;
}




.search-bar-submit{
  font-size: 14px;
  color: #f1f1f1;
  background-color: transparent;
  height: 34px;
  width: 34px;
  padding: 6px;
}

.nav-list .row{
  position: relative;
  top:0;
}

.input-group{
  margin-right: 20px;
}
/*search*/

.nav-list > li{
  float: left;
  margin-top: 15px;// 在padding无用的时候只好设置这个。
  list-style: none;
}

.nav-list a{
  text-decoration: none;
  padding: 15px;
}

.nav-list .search-bar{
  position: relative;
  top: -5px;
}

.form-group {
    margin-bottom: 10px;
    margin-top: 10px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 250px;
}
