<h3> Review <%= @job.title %> </h3>

<hr>
<br>
<div class="post_container">
    <div class="new_post" >
        <%= simple_form_for [@job, @resume] do |f| %>
        <%= f.input :content,label:false,placeholder:'write here',:autofocus => true,input_html: { class:'post-header-input',:cols => 10, :rows => 10 } %>
        <%= f.submit "Submit",:class=>"btn btn-default" %>
        <% end %>
    </div>

</div>
